{% load static %} {% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>

    <!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">


 <!-- Flowbite CSS (une seule version) -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.4.1/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- simple-datatables CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
    />

    {% compress css %}
    <link href="{% static 'src/output.css' %}" rel="stylesheet" />
    {% endcompress %}

</head>

<body class="bg-green-50">

    {% if show_sidebar %} {% include 'sidebar.html' %} {% endif %}

    <div class="flex-1 p-6 {% if not disable_sidebar_mt %}mt-14{% endif %} {% if not disable_sidebar_margin %}sm:ml-64{% endif %}">{% block content %}{% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>